div {
    text-align: center;
}

h1 {
    font-family: fantasy;
}

h3 {
    font-size: large;
}

p {
    font-size: medium;
    text-align: left;
}

#HomeBackgroundColor {
    background-color: burlywood;
}

form {
    font-weight: bold;
}